[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/frankcode/Desktop/sherlock]
row=3
col=0

[/home/frankcode/Desktop/com.gexperts.Tilix.desktop]
row=0
col=1

[/home/frankcode/Desktop/seeker]
row=5
col=0

[/home/frankcode/Desktop/Storm-Breaker]
row=4
col=0

[/home/frankcode/Desktop/perm]
row=1
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/frankcode]
row=2
col=0

